<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Utility Fragments</title>

    <link rel="stylesheet"
          href="../../../static/css/gallery/genericgallery.css"
          th:href="@{/css/gallery/genericgallery.css}"/>
</head>
<body>

<th:block th:fragment="gallery-container-fragment(id,type,key,suffix,username)">
    <div class="generic-title gallery-title">
        <span th:id ="${'language-'+ suffix + key}" class="generic-language-tag"></span>

        <a th:id    ="${'title-'   + suffix + key}"
           th:text     ="${'loading ' + suffix + key + '...'} "
           class="generic-title-link"
        ></a>
    </div>

    <!--<a th:id="${'test-'  + suffix + key}" class="generic-thumbnail-link">test-->
    <!--</a>-->
    <div   th:id="${'cover-' + suffix + key}" class="generic-thumbnail gallery-thumbnail">
            <div class="rotated-covers">
                <div class="rotated-cover">
                    <span th:id="${'pages-' + suffix + key}" class="pages-badge badge pages-gallery"></span>
                    <div th:id="${'unread-'+suffix+key}"></div>
                    <div th:id="${'new-'+suffix+key}"></div>
                    <div th:id="${'favorite-'+suffix+key}"></div>
                    <a th:id="${'link-'  + suffix + key}" class="generic-thumbnail-link">
                    <img class="generic-image" th:id="${'image-' + suffix + key}"
                         th:src="@{/img/dummy-cover.png}"
                         alt="loading cover..."/>
                    </a>

                    <div class="generic-thumbnail-description"
                         th:id="${'description-'+suffix+key}"
                         th:text="'loading title...'"></div>

                    <!--flex reverse order!-->
                    <div class="rating">
                        <a data-rating="1" class="glyphicon glyphicon-star" th:id="${'star5-'+suffix+key}"></a>
                        <a data-rating="2" class="glyphicon glyphicon-star" th:id="${'star4-'+suffix+key}"></a>
                        <a data-rating="3" class="glyphicon glyphicon-star" th:id="${'star3-'+suffix+key}"></a>
                        <a data-rating="4" class="glyphicon glyphicon-star" th:id="${'star2-'+suffix+key}"></a>
                        <a data-rating="5" class="glyphicon glyphicon-star" th:id="${'star1-'+suffix+key}"></a>
                    </div>
                </div>
            </div>


    </div>
    <script th:inline="javascript">
        loadGalleryContent([[${id}]],[[${type}]],[[${key}]],[[${suffix}]],[[${username}]]);
    </script>
</th:block>

</body>
</html>