<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<div>
    <meta charset="utf-8"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Product list</title>
    <link rel="icon" th:href="@{/favicon.ico}" href="../../static/icons/favicon.ico"/>


    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}" src="../../static/js/jquery-3.2.1.min.js"></script>
    <script th:src="@{/js/bootstrap.js}" src="../../static/js/bootstrap.js"></script>

    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" href="../../static/css/gallery.css" th:href="@{/css/login.css}"/>
</div>
</head>
<body>

<th:block th:fragment="new-works-display (title, prefix)">
    <div class="dashboard">
        <h3 th:text="${title}">Category Name:</h3>

        <div class="row fix">
            <div th:each="obj : ${newworks}"
                 th:id="${prefix + obj}"
                 class="col-xs-6 col-sm-4 col-md-2 col-lg-1 generic-bean-container" >
                <script th:inline="javascript">
                    retrieveFragment('/view/fragment/work/'+[[${obj}]]+'/'+[[${prefix}]],'#'+[[${prefix}]]+[[${obj}]]);
                </script>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="new-galleries-display (title, prefix)">
    <div class="dashboard">
        <h3 th:text="${title}">Category Name:</h3>

        <div class="row fix">
            <div th:each="obj : ${newgalleries}"
                 th:id="${prefix + obj}"
                 class="col-xs-6 col-sm-4 col-md-2 col-lg-1 generic-bean-container" >
                <script th:inline="javascript">
                    retrieveFragment('/view/fragment/gallery/'+[[${obj}]]+'/'+[[${prefix}]],'#'+[[${prefix}]]+[[${obj}]]);
                </script>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="new-collections-display (title, prefix)">
    <div class="dashboard">
        <h3 th:text="${title}">Category Name:</h3>

        <div class="row fix">
            <div th:each="obj : ${newcollections}"
                 th:id="${prefix + obj}"
                 class="col-xs-6 col-sm-4 col-md-2 col-lg-1 generic-bean-container" >
                <script th:inline="javascript">
                    retrieveFragment('/view/fragment/collection/'+[[${obj}]]+'/'+[[${prefix}]],'#'+[[${prefix}]]+[[${obj}]]);
                </script>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="beans-display (title, prefix)">
    <div class="dashboard">
        <h3 th:text="${title}">Category Name:</h3>

        <div class="row fix">
            <div th:each="obj : ${beans}"
                 th:id="${prefix + obj.key}"
                 class="col-xs-6 col-sm-4 col-md-2 col-lg-1 generic-bean-container" >
                <script th:inline="javascript">
                    retrieveFragment('/view/fragment/'+[[${obj.type}]]+'/'+[[${obj.id}]]+'/'+[[${prefix}]],'#'+[[${prefix}]]+[[${obj.key}]]);
                </script>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="beans2-display (title, prefix)">
    <div class="dashboard">
        <h3 th:text="${title}">Category Name:</h3>

        <div class="row fix">
            <div th:each="obj : ${beans2}"
                 th:id="${prefix + obj.key}"
                 class="col-xs-6 col-sm-4 col-md-2 col-lg-1 generic-bean-container" >
                <script th:inline="javascript">
                    retrieveFragment('/view/fragment/'+[[${obj.type}]]+'/'+[[${obj.id}]]+'/'+[[${prefix}]],'#'+[[${prefix}]]+[[${obj.key}]]);
                </script>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="beans3-display (title, prefix)">
    <div class="dashboard">
        <h3 th:text="${title}">Category Name:</h3>

        <div class="row fix">
            <div th:each="obj : ${beans3}"
                 th:id="${prefix + obj.key}"
                 class="col-xs-6 col-sm-4 col-md-2 col-lg-1 generic-bean-container" >
                <script th:inline="javascript">
                    retrieveFragment('/view/fragment/'+[[${obj.type}]]+'/'+[[${obj.id}]]+'/'+[[${prefix}]],'#'+[[${prefix}]]+[[${obj.key}]]);
                </script>
            </div>
        </div>
    </div>
</th:block>

</body>
</html>