<!--suppress HtmlUnknownTag, CheckEmptyScriptTag, ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<div>
    <meta charset="utf-8"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Product list</title>
    <link rel="icon" th:href="@{/favicon.ico}" href="../../static/icons/favicon.ico"/>


    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}" src="../../static/js/jquery-3.2.1.min.js"></script>
    <script th:src="@{/js/bootstrap.js}" src="../../static/js/bootstrap.js"></script>

    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" href="../../static/css/gallery.css" th:href="@{/css/login.css}"/>
</div>
</head>
<body>

<div class="gallery-container" th:fragment="gallery">

    <div class="container">
        <div th:replace="fragments/sorting :: sorting-left"/>
        <div th:replace="fragments/sorting :: sorting-right"/>
        <div th:replace="fragments/pagination :: pagination"/>
    </div>


    <div style="position:relative; z-index: 2">


        <div class="row fix">
            <div class="work-container col-xs-6 col-sm-4 col-md-2 col-lg-1" th:each="work : ${works} ">
                <div class="work-title">
                    <th:block th:switch="${work.getLanguageTag()}">
                        <span class="lang-xs" lang="en" th:case="'en'"></span>
                        <span class="lang-xs" lang="ja" th:case="'ja'"></span>
                        <span class="lang-xs" lang="zh" th:case="'zh'"></span>
                        <span class="lang-xs" lang="nl" th:case="'nl'"></span>
                        <span class="lang-xs" lang="fr" th:case="'fr'"></span>
                        <span class="lang-xs" lang="de" th:case="'de'"></span>
                        <span class="lang-xs" lang="hu" th:case="'hu'"></span>
                        <span class="lang-xs" lang="it" th:case="'it'"></span>
                        <span class="lang-xs" lang="ko" th:case="'ko'"></span>
                        <span class="lang-xs" lang="pl" th:case="'pl'"></span>
                        <span class="lang-xs" lang="pt" th:case="'pt'"></span>
                        <span class="lang-xs" lang="ru" th:case="'ru'"></span>
                        <span class="lang-xs" lang="es" th:case="'es'"></span>
                        <span class="lang-xs" lang="th" th:case="'th'"></span>
                        <span class="lang-xs" lang="vi" th:case="'vi'"></span>
                    </th:block>
                <a
                href="../../static/img/dummy-cover.png" th:href="${work.getOnlineUrls().get(0)}"
                th:text="${work.getTitle()}">A typically long gallery title
                </a>
                </div>

                <div class="work-thumbnail"  th:classappend="${work.getTrash()} ? cross : ''">
                    <span class="badge pages-badge" th:text="${work.getPages()}"></span>
                    <div th:if="${work.getReadCount() eq 0}" class="unread-marker"></div>
                    <div th:if="${work.isNew()}" class="new-marker"></div>
                    <a th:href="@{/view/work/{id}(id=${work.id})}">
                    <img class="cover"
                        src="../../static/img/dummy-cover.png" th:src="${work.getThumbnailUrl()}"
                        alt="Missing gallery art"
                        title="A typically long gallery title" th:title="${work.getTitle()}"
                    /></a>
                    <div class="work-thumbnail-description" th:text="${work.getTitle()}">
                    </div>
                </div>
                <!--<div class="work-details">-->
                <!--Work details-->
                <!--</div>-->
            </div>
        </div>

        <!--expands the background container to fit the galleries-->
        <div style="clear: both !important;"></div>

    </div>

    <div class="container">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 sort-left" th:fragment="sorting-left"></div>
        <div class="col-xs-12 col-sm-4 col-sm-push-4 col-md-4 col-md-push-4 col-lg-4 col-lg-push-4 sort-right"></div>
        <div th:replace="fragments/pagination :: pagination"/>
    </div>

</div>




</body>
</html>