<!--suppress HtmlUnknownTag -->
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<div th:fragment="head">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Product list</title>
    <link rel="icon" th:href="@{/icons/favicon.ico}" href="../../static/icons/favicon.ico"/>


    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}" src="../../static/js/jquery-3.2.1.min.js"></script>
    <script th:src="@{/js/bootstrap.js}" src="../../static/js/bootstrap.js"></script>
    <script th:src="@{/js/custom.js}" src="../../static/js/custom.js"></script>
    <script th:src="@{/js/modernizr.custom.js}" src="../../static/js/modernizr.custom.js"></script>

    <script th:src="@{/js/gallery/genericgallery.js}" src="../../static/js/gallery/genericgallery.js"></script>
    <script th:src="@{/js/gallery/work.js}" src="../../static/js/gallery/work.js"></script>
    <script th:src="@{/js/gallery/gallery.js}" src="../../static/js/gallery/gallery.js"></script>
    <script th:src="@{/js/gallery/collection.js}" src="../../static/js/gallery/collection.js"></script>

    <script th:src="@{/js/viewer/viewer.js}" src="../../static/js/viewer/viewer.js"></script>


    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" href="../../static/css/login.css" th:href="@{/css/login.css}"/>

    <link rel="stylesheet" href="../../static/css/gallery/genericgallery.css" th:href="@{/css/gallery/genericgallery.css}"/>
    <link rel="stylesheet" href="../../static/css/gallery/gallery.css" th:href="@{/css/gallery/gallery.css}"/>
    <link rel="stylesheet" href="../../static/css/gallery/collection.css" th:href="@{/css/gallery/collection.css}"/>
    <link rel="stylesheet" href="../../static/css/gallery/decoration.css" th:href="@{/css/gallery/decoration.css}"/>

    <link rel="stylesheet" href="../../static/css/alert.css" th:href="@{/css/alert.css}"/>
    <link rel="stylesheet" href="../../static/css/gallery.css" th:href="@{/css/gallery.css}"/>
    <link rel="stylesheet" href="../../static/css/pagination.css" th:href="@{/css/pagination.css}"/>
    <link rel="stylesheet" href="../../static/css/sorting.css" th:href="@{/css/sorting.css}"/>
    <link rel="stylesheet" href="../../static/css/main.css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="../../static/css/languages.min.css" th:href="@{/css/languages.min.css}"/>
    <link rel="stylesheet" href="../../static/css/dashboard.css" th:href="@{/css/dashboard.css}"/>



</div>
</head>
<body>
<div th:fragment="navbar">

    <div id="noty-holder"></div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/home}">Hman</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <form class="navbar-form navbar-left navbar-collapse">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search"
                                   name="q"
                                   th:value="${searchRequest}"
                            />
                            <input type="hidden" class="form-control" name="sort" th:value="${sort}"/>

                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>


                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!--WATCHES-->
                    <li sec:authorize="isAuthenticated()" th:classappend="${#httpServletRequest.getRequestURI() == '/watches' ? 'active':''}">
                    <a href="#"><span class="glyphicon glyphicon-eye-open"></span> Watches<span class="badge">5</span></a>
                    </li>

                    <!--FAVORITES-->
                    <li sec:authorize="isAuthenticated()" th:classappend="${#httpServletRequest.getRequestURI() == '/favorites' ? 'active':''}">
                    <a href="#"><span class="glyphicon glyphicon-heart"></span> Favorites</a>
                    </li>


                    <!--SETTINGS-->
                    <li sec:authorize="isAuthenticated()">
                    <a href="#"><span class="glyphicon glyphicon-edit"></span> Settings</a>
                    </li>

                    <!--UPLOAD-->
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/api/upload}"><span class="glyphicon glyphicon-upload"></span> Upload</a>
                    </li>

                    <!--LOGOUT-->
                    <li class="dropdown" sec:authorize="isAuthenticated()">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span>
                    <span sec:authentication="name">User</span> <span class="caret"></span> </a>
                    <ul class="dropdown-menu">
                    <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                    </li>

                    <!--LOGIN-->
                    <li sec:authorize="isAnonymous()">
                    <a href="#" data-toggle="modal" data-target="#login-modal"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--<nav class="navbar navbar-inverse">-->
        <!--<div class="container-fluid">-->
            <!--<div class="navbar-header">-->
                <!--<a class="navbar-brand" th:href="@{/home}">Hman</a>-->
            <!--</div>-->


            <!--<ul class="nav navbar-nav navbar-right">-->


            <!--</ul>-->
        <!--</div>-->
    <!--</nav>-->

    <div th:replace="fragments/login :: login"></div>

</div>



</body>
</html>