<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login Fragment</title>

    <link rel="stylesheet" href="../../static/css/login.css" th:href="@{/css/login.css}"/>
</head>
<body>

<!--FRAGMENT BEGIN-->
<div class="modal fade" id="login-modal" th:fragment="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <form method="post" action="/home">
                <input type="text" name="username" placeholder="Username"/>
                <input type="password" name="password" placeholder="Password"/>
                <input type="submit" name="login" class="login loginmodal-submit" value="Login"/>
            </form>

            <div class="login-help">
                <a href="#">Register</a> - <a href="#">Forgot Password</a>
            </div>
        </div>
    </div>
</div>
<!--FRAGMENT END-->

<!--NOT HIDDEN-->
<div class="modal fade" role="dialog" aria-labelledby="myModalLabel" >
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Login</h1><br/>
            <form method="post">
                <input type="text" name="user" placeholder="Username"/>
                <input type="password" name="password" placeholder="Password"/>
                <input type="submit" name="login" class="login loginmodal-submit" value="Login"/>
            </form>

            <div class="login-help">
                <a href="#">Register</a> - <a href="#">Forgot Password</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>