<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Pagination Prototype</title>
</head>
<body>

<div class="col-xs-12 col-sm-4 col-sm-pull-4 col-md-4 col-md-pull-4 col-lg-4 col-lg-pull-4 pagination-middle" th:fragment="pagination">
    <nav class="pagination">

        <a
                th:if="${not galleryPage.firstPage}"
                th:href="@{${'/home'}(page=0,q=${query},sort=${sort})}"
        >&#171;</a>
        <a
                th:if="${galleryPage.firstPage}"
                href="javascript:void(0)"
        >&#171;</a>
        <a
                th:if="${not galleryPage.firstPage}"
                th:href="@{${'/'}(page=${galleryPage.number-1},q=${query},sort=${sort})}"
        >&lt;</a>
        <a
                th:if="${galleryPage.firstPage}" href="javascript:void(0)"
        >&lt;</a>


        <th:block th:each="pageNo : ${#numbers.sequence(galleryPage.number-3, galleryPage.number+3)}">
            <a
                    th:href="@{${'/'}(page=${pageNo},size=${galleryPage.size},q=${query},sort=${sort})}"
                    th:if="${pageNo gt -1 and pageNo lt galleryPage.totalPages+1 and not (galleryPage.number eq pageNo)}"
                    th:text="${pageNo+1}"
            ></a>
            <span
                    th:if="${(pageNo gt -1) and (pageNo lt galleryPage.totalPages+1) and (galleryPage.number eq pageNo)}"
                    th:text="${pageNo+1}"
            ></span>
        </th:block>

        <a
                th:if="${not galleryPage.lastPage}"
                th:href="@{${'/'}(page=${galleryPage.number+1},q=${query},sort=${sort})}"
        >&gt;</a>
        <a
                th:if="${galleryPage.lastPage}" href="javascript:void(0)"
        >&gt;</a>
        <a
                th:if="${not galleryPage.lastPage}"
                th:href="@{${'/home'}(page=${galleryPage.totalPages},q=${query},sort=${sort})}"
        >&#187;</a>
        <a
                th:if="${galleryPage.lastPage}"
                href="javascript:void(0)"
        >&#187;</a>
    </nav>
</div>

</body>
</html>