<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Pagination Prototype</title>
</head>
<body>

<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 sort-left" th:fragment="sorting-left">
    <nav class="pagination">


        <a      th:if="${not (sort eq 'rating')}"
                th:href="@{${'/home'}(page=0,q=${query},sort=rating)}"
        >Rating</a>
        <span   th:if="${(sort eq 'rating')}"
        >Rating</span>

        <a      th:if="${not (sort eq 'lastread')}"
                th:href="@{${'/home'}(page=0,q=${query},sort=lastread)}"
        >Last read</a>
        <span   th:if="${(sort eq 'lastread')}"
        >Last read</span>

        <a      th:if="${not (sort eq 'readcount')}"
                th:href="@{${'/home'}(page=0,q=${query},sort=readcount)}"
        >Read count</a>
        <span   th:if="${(sort eq 'readcount')}"
        >Read count</span>

    </nav>
</div>

<div class="col-xs-12 col-sm-4 col-sm-push-4 col-md-4 col-md-push-4 col-lg-4 col-lg-push-4 sort-right" th:fragment="sorting-right">
    <nav class="pagination">

        <a      th:if="${not (sort eq 'date') and not (sort eq null)}"
                th:href="@{${'/home'}(page=0,q=${query},sort=date)}"
        >Date</a>
        <span   th:if="${(sort eq 'date') or (sort eq null)}"
        >Date</span>

        <a      th:if="${not (sort eq 'title')}"
                th:href="@{${'/home'}(page=0,q=${query},sort=title)}"
        >Title</a>
        <span   th:if="${(sort eq 'title')}"
        >Title</span>

        <a      th:if="${not (sort eq 'pages')}"
                th:href="@{${'/home'}(page=0,q=${query},sort=pages)}"
        >Pages</a>
        <span   th:if="${(sort eq 'pages')}"
        >Pages</span>

        <a      th:if="${not (sort eq 'cover')}"
                th:href="@{${'/home'}(page=0,q=${query},sort=cover)}"
        >Cover</a>
        <span   th:if="${(sort eq 'cover')}"
        >Cover</span>

    </nav>
</div>

</body>
</html>