.floaty {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10%;
}

.collection-main {
    width: 80%;
    position: absolute !important;
    top: 8%;
}

.collection-background {
    width: 80%;
    position: absolute !important;
    top: 1%;
    left:7%;
    opacity: 0.5;
    padding: 1px;
}

.collection-main-cover {
    padding: 1px;
}

