.generic-bean-container {
    padding: 5px;
}

.generic-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.generic-title-link {
    white-space: nowrap;
    overflow: hidden;
}
.generic-language-tag {}

.generic-thumbnail-link {}

.page {
    position: absolute;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.generic-image {
    width: 100%;
    border: 1px solid rgb(83, 58, 29);
    background: rgb(103, 78, 58);
}

.generic-thumbnail-description {
    z-index: 2;
    pointer-events: none;
    margin:0;
    padding: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(27, 69, 105, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    font-size: 12px;

    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.generic-thumbnail:hover .generic-thumbnail-description {
    visibility: visible;
    opacity: 1;
}

.generic-thumbnail-description:hover {
    visibility: visible;
    opacity: 1;
}

.generic-thumbnail {
    border-radius: 3px;
    position: relative;
}

.generic-thumbnail:hover {
    opacity: 0.9;
}
.generic-thumbnail:active, .generic-thumbnail:focus{
    opacity: 0.8;
}

.unread-marker {
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    border-top: 30px solid transparent;
    border-bottom: 0px solid transparent;

    border-left: 30px solid #004100;
    z-index: 5;
}

.new-marker {
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    border-top: 45px solid transparent;
    border-bottom: 0px solid transparent;

    border-left: 45px solid rgb(111, 18, 18);
    z-index: 2;
}

.favorite-marker {
    position: absolute;
    right: 2px;
    color: rgb(162, 21, 21);
    zoom: 2;
}

.trash {
    opacity: 0.4;
    text-decoration: line-through;
}

.rating {
    padding: 2px 2px 1px 5px;
    background: rgba(0, 0, 0, 0.62);
    border-top-left-radius: 3px;
    position: absolute;
    bottom: 1px;
    right: 1px;
    display: flex;
    flex-direction: row-reverse;
    z-index: 10;
}

.rating a {
    color: whitesmoke;
    align-self: flex-end;
}

.rating a:link { color: whitesmoke; }
.rating a:visited { color: whitesmoke; }
.rating a:focus { color: whitesmoke; }

.rating a:hover {
    opacity: 0.8;
    color: orange !important;
}
.rating a[data-rating="1"] {

}
.rating a[data-rating="2"] {

}
.rating a[data-rating="3"] {

}
.rating a[data-rating="4"] {

}
.rating a[data-rating="5"] {

}
.rating a:hover ~ a {
    opacity: 0.8;
    color: orange !important;
}

/* Fallback styles */
.rotated-cover {
    display: inline-block;
    box-shadow: 5px 5px 20px #333;
    margin: 10px;
}

.rotated-cover img { vertical-align: middle; }

/*
 *  In order for this to work, you must use Modernizer
 *  to detect 3D transform browser support. This will add
 *  a "csstransforms3d" class to the HTML element.
 *
 *  Visit http://modernizr.com/ for installation instructions
 */

.csstransforms3d .rotated-covers {
    -moz-perspective: 100px;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.csstransforms3d  .rotated-cover {
    position: relative;
    -moz-perspective: 100px;
    -moz-transform: rotateY(-3deg);
    -webkit-transform: perspective(100) rotateY(-3deg);
    outline: 1px solid transparent; /* Helps smooth jagged edges in Firefox */
    box-shadow: none;
    margin: 0;
}

.csstransforms3d  .rotated-cover img {
    position: relative;
    max-width: 100%;
}

.csstransforms3d  .rotated-cover:before,
.csstransforms3d  .rotated-cover:after {
    position: absolute;
    top: 2%;
    height: 96%;
    content: ' ';
    z-index: -1;
}

.csstransforms3d  .rotated-cover:before {
    background-color: rgb(134, 93, 60);
    width: 100%;
    left: 7.1%;
}

.csstransforms3d  .rotated-cover:after {
    background-color: #EFEFEF;
    width: 5%;
    left: 100%;
    -moz-transform: rotateY(20deg);
    -webkit-transform: perspective(100) rotateY(20deg);
}
