.main {
    color: whitesmoke;
    background: url("/img/wool.png");
}

/* unvisited link */
a:link {
    color: #7EABBC;
}

/* visited link */
a:visited {
    color: #7EABBC;
}

/* mouse over link */
a:hover {
    color: #FFC857;
}

/* selected link */
a:active {
    color: #FFC857;
}

.row.fix {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0 !important;
    margin-right: 0 !important;
}