.pagination-middle {
    text-align: center;
}

.pagination {
    margin: 0;
    padding: 3px;
    background-clip: padding-box;
    border: 1px solid;
    border-color: #070809 #0d0e0f #131517;
    border-color: rgba(0, 0, 0, 0.8) rgba(0, 0, 0, 0.65) rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0));
    -webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.05);
    box-shadow: 0 1px rgba(255, 255, 255, 0.05);
}

.pagination > a, .pagination > span {
    float: left;
    margin-left: 5px;
    padding: 0 6px;
    min-width: 17px;
    line-height: 27px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #d4d4d4;
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 3px;
}

.pagination :first-child {
    margin-left: 0;
}

.pagination > a {
    text-decoration: none;
    text-shadow: 0 1px black;
    background-clip: padding-box;
    border-color: rgba(0, 0, 0, 0.9);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0));
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.04), inset 0 1px rgba(255, 255, 255, 0.04), inset 0 -1px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.04), inset 0 1px rgba(255, 255, 255, 0.04), inset 0 -1px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-transition: 0.1s ease-out;
    -moz-transition: 0.1s ease-out;
    -o-transition: 0.1s ease-out;
    transition: 0.1s ease-out;
}

.pagination > a:hover {
    background-color: #333;
    background-color: rgba(255, 255, 255, 0.05);
}

.pagination > span, .pagination > a:active {
    color: #eee;
    text-shadow: 0 -1px black;
    background: #1c1c1c;
    background: rgba(255, 255, 255, 0.01);
    border-color: black rgba(0, 0, 0, 0.65) rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 2px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 2px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}

.pagination .prev, .pagination .next {
    font-family: Noteworthy, Arial, sans-serif;
    font-size: 14px;
}

