<!DOCTYPE HTML>
<!--suppress HtmlUnknownTag, CheckTagEmptyBody -->
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>

<head>
    <title>Hman</title>

    <div th:replace="fragments/header :: head"></div>
</head>
<body class="main">


<div th:replace="fragments/header :: navbar"></div>

<th:block sec:authorize="isAuthenticated()">

    <div th:if="${message}">
        <h2 th:text="${message}"/>
    </div>

    <div>
        <form method="POST" enctype="multipart/form-data" action="/api/upload">
            <input type="file" name="file" />
            <input style="color: #000;" type="submit" value="Upload" />
        </form>
    </div>
</th:block>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>